.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 50px auto;
  grid-template-areas: 'topbar topbar'
                       'sidebar board';
}

.topbar-wrapper {
  grid-area: topbar;
  background-color: aquamarine;
}

.sidebar-wrapper {
  grid-area: sidebar;
  background-color: aqua;
}

.board-wrapper {
  grid-area: board;
}

.board-wrapper h2 {
  background-color: aliceblue;
}

.board-cards-area {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-wrapper {
  width: 100px;
  height: 150px;
  background-color: lightcyan;
  border: 1px solid lightcoral;
  position: absolute;
}
